In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.model_selection import RandomizedSearchCV

%pip install xgboost
from xgboost import XGBRegressor

Requirement already satisfied: xgboost in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (2.1.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from xgboost) (1.24.4)
Requirement already satisfied: scipy in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from xgboost) (1.10.1)

In [21]:
pip install catboost

Requirement already satisfied: catboost in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (1.2.8)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: graphviz in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from catboost) (3.7.5)
Requirement already satisfied: numpy<3.0,>=1.16.0 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from catboost) (1.24.4)
Requirement already satisfied: pandas>=0.24 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from catboost) (2.0.3)
Requirement already satisfied: scipy in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from catboost) (6.1.2)
Requirement already satisfied: six in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from matplotlib->catboost) (1.1.1)
Requirement already satisfied: cycler>=0.10 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from matplotlib->catboost) (4.57.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from matplotlib->catboost) (24.1)
Requirement already satisfied: pillow>=6.2.0 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from matplotlib->catboost) (3.1.4)
Requirement already satisfied: importlib-resources>=3.2.0 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from matplotlib->catboost) (6.4.5)
Requirement already satisfied: narwhals>=1.15.1 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from plotly->catboost) (1.41.0)
Requirement already satisfied: zipp>=3.1.0 in e:\recordings\udemy\data analyst bootcamp\python\ml_project\venv\lib\site-packages (from importlib-resources>=3.2.0->matplotlib->catboost) (3.20.2)

In [22]:
from catboost import CatBoostRegressor

In [23]:
df=pd.read_csv('data/StudentsPerformance.csv')

In [24]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [25]:
df['Average']=(df['math score']+df['reading score']+df['writing score'])/3

In [26]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Average
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333

In [27]:
y = df['Average']               # Save target variable

In [28]:
y

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: Average, Length: 1000, dtype: float64

In [29]:
X = df.drop('Average', axis=1)

In [30]:
y

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: Average, Length: 1000, dtype: float64

In [31]:
X.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [32]:
num_feature=X.select_dtypes(exclude='object').columns
cat_feature=X.select_dtypes(include='object').columns
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder()
preprocessor=ColumnTransformer(
    [
        ('OneHotEncoder',oh_transformer,cat_feature),
        ('StandardScaler',numeric_transformer,num_feature)
    ]
)

In [33]:
X=preprocessor.fit_transform(X)

In [34]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [35]:
X_train.shape

(800, 20)

In [36]:
from sklearn.metrics import mean_absolute_error

In [37]:
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mse)
    score=r2_score(true,predicted)
    return mae,mse,rmse,score

In [41]:
models={
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "KNeighborsRegressor":KNeighborsRegressor(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "RandomForestRegressor":RandomForestRegressor(),
    "XGBregressor":XGBRegressor(),
    "CatBoostRegressor":CatBoostRegressor(verbose=False),
    "AdaBoostRegressor":AdaBoostRegressor()

}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    mae,mse,rmse,score=evaluate_model(y_train,y_train_pred)
    mae_,mse_,rmse_,score_=evaluate_model(y_test,y_test_pred)
    print('--------------------------------')
    print(list(models.keys())[i])
    print('*****************')
    print('Model perfomance for training test')
    print(f"mean squared error : { mse}")
    print(f"mean absolute error : {mae}")
    print(f"root mean squared error : {rmse}")
    print(f"r2_score  : { score}")
    print('******************')
    print('#######################')
    print("Model performance for test data ")
    print(f"mean squared error : { mse_}")
    print(f"mean absolute error : {mae_}")
    print(f"root mean squared error : {rmse_}")
    print(f"r2_score  : { score_}")
    print('########################')
    print('----------------------------------')

--------------------------------
Linear Regression
*****************
Model perfomance for training test
mean squared error : 8.98307467211375e-28
mean absolute error : 2.3638868640318832e-14
root mean squared error : 2.9971777845356037e-14
r2_score  : 1.0
******************
#######################
Model performance for test data
mean squared error : 1.0169994790109285e-27
mean absolute error : 2.3856472353145363e-14
root mean squared error : 3.189042926978137e-14
r2_score  : 1.0
########################
----------------------------------
--------------------------------
Lasso
*****************
Model perfomance for training test
mean squared error : 1.1331525964023306
mean absolute error : 0.8506012933972129
root mean squared error : 1.0644964050678285
r2_score  : 0.9943185972010731
******************
#######################
Model performance for test data
mean squared error : 1.2413568666700616
mean absolute error : 0.8768807904727827
root mean squared error : 1.1141619571094956
r2_score  : 0.9942091862272519
########################
----------------------------------
--------------------------------
Ridge
*****************
Model perfomance for training test
mean squared error : 6.438220039519708e-05
mean absolute error : 0.006499357373332582
root mean squared error : 0.008023851967427931
r2_score  : 0.9999996772003924
******************
#######################
Model performance for test data
mean squared error : 7.765406367229294e-05
mean absolute error : 0.006696634238849608
root mean squared error : 0.00881215431505219
r2_score  : 0.99999963775105
########################
----------------------------------
--------------------------------
KNeighborsRegressor
*****************
Model perfomance for training test
mean squared error : 5.09537777777778
mean absolute error : 1.7680000000000007
root mean squared error : 2.257294348944723
r2_score  : 0.9744527845056637
******************
#######################
Model performance for test data
mean squared error : 9.428755555555558
mean absolute error : 2.283333333333334
root mean squared error : 3.0706278764375794
r2_score  : 0.9560157364920763
########################
----------------------------------
--------------------------------
DecisionTreeRegressor
*****************
Model perfomance for training test
mean squared error : 0.0
mean absolute error : 0.0
root mean squared error : 0.0
r2_score  : 1.0
******************
#######################
Model performance for test data
mean squared error : 2.8372222222222216
mean absolute error : 1.1616666666666662
root mean squared error : 1.6844055990830182
r2_score  : 0.9867646234842488
########################
----------------------------------
--------------------------------
RandomForestRegressor
*****************
Model perfomance for training test
mean squared error : 0.07609986111111013
mean absolute error : 0.18062499999999854
root mean squared error : 0.27586203274664334
r2_score  : 0.999618450361154
******************
#######################
Model performance for test data
mean squared error : 1.2032701111111024
mean absolute error : 0.492466666666661
root mean squared error : 1.0969366942130718
r2_score  : 0.9943868573825594
########################
----------------------------------
--------------------------------
XGBregressor
*****************
Model perfomance for training test
mean squared error : 0.00324633086844086
mean absolute error : 0.04059766610463452
root mean squared error : 0.05697658175461968
r2_score  : 0.9999837235396709
******************
#######################
Model performance for test data
mean squared error : 1.1258302355046164
mean absolute error : 0.5534368165334067
root mean squared error : 1.0610514763688972
r2_score  : 0.994748107165166
########################
----------------------------------
--------------------------------
CatBoostRegressor
*****************
Model perfomance for training test
mean squared error : 0.010963392979413046
mean absolute error : 0.08421260071674648
root mean squared error : 0.10470622225738567
r2_score  : 0.9999450317179198
******************
#######################
Model performance for test data
mean squared error : 1.4047500041344267
mean absolute error : 0.3307880446589165
root mean squared error : 1.1852215000304487
r2_score  : 0.9934469725107891
########################
----------------------------------
--------------------------------
AdaBoostRegressor
*****************
Model perfomance for training test
mean squared error : 2.7361587851646356
mean absolute error : 1.3016331499881375
root mean squared error : 1.6541338474152072
r2_score  : 0.9862814415024967
******************
#######################
Model performance for test data
mean squared error : 4.483845269100357
mean absolute error : 1.495985203323551
root mean squared error : 2.1175092134629208
r2_score  : 0.9790832808547398
########################
----------------------------------